<launch>
        <param name="robot_description" command="$(find xacro)/xacro.py '$(find ur_description)/urdf/ur5_robot.urdf.xacro'" />
<!--        
        <node name="my_ur5_controller" pkg="my_ur5_controller" type="my_ur5_controller" />
         -->
        <node name="my_test_controller" pkg="my_ur5_controller" type="my_test_controller" />


</launch>
